.background {
    background-color: #F0FAFC;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.content_container {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    max-width: 1600px;
    width: 100%;
    padding: 20px 60px;
}

.text_container {
    color: #14213D;
    max-width: 500px;
}

.text_container h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.text_container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.action_buttons {
    display: flex;
    gap: 20px;
}

.action_buttons button {
    border: none;
    color: white;
    background-color: #14213D;
    font-size: 1rem;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    transition: background-color 0.4s;
    cursor: pointer;
}

.action_buttons button:hover {
    background-color: #454FE1;
}

.info_container {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

ul.info_list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

ul.info_list li {
    padding: 0 0.5rem;
    min-width: 7rem;
    text-align: center;
    border-right: 2px solid rgba(20, 33, 61, 0.58);
}

ul.info_list li:last-child {
    border-right: none;
}

.info_container_header {
    font-size: 1rem;
    font-weight: bold;
}

.info_list span {
    color: rgba(20, 33, 61, 0.58);
    font-size: 0.9rem;
}

.woman-img {
    position: absolute;
    width: 600px;
    height: auto;
    left: 900px;
    top: 30px;
    border-radius: 37px;
    transform: scale(0.85);
}

.man-img {
    position: absolute;
    width: 580px;
    height: auto;
    left: 1250px;
    top: 120px;
    border: 8px solid #F0FAFC;
    border-radius: 39px;
    transform: scale(0.9);
}

.blurred {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    z-index: 11;
}

.options_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
    margin-top: 20px;
}

.option_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    background-color: #E0FAFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 220px;
}

.option_box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.option_icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.option_box h3 {
    color: #14213D;
    font-size: calc(1rem + 0.2vw);
    margin-top: 10px;
    text-align: center;
}