.background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 30px;
    justify-content: center;
    align-items: center;
    width: calc(100% - 75px);
    margin-left: 75px;
}

.grid_item {
    border: none;
    width: 350px;
    height: 265px;
    background-color: #FFFFFF;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border-radius: 24px;
    box-shadow: 0px 6px 11.5px rgba(3, 150, 166, 0.25);
}

.text_container_d {
    position: absolute;
    top: 20px;
    left: 125px;
}

.header_design {
    font-size: 48px;
}

.date_design {
    font-size: 20px;
}

.option_header {
    font-size: 32px;
    color: #14213D;
}

.opt_description {
    font-size: 20px;
    color: rgba(20, 33, 61, 0.58);
}

span {
    line-height: 1;
}