.background{
    background-color: #E0FAFF;
    height: 100vh;
}

.text_container{
    position: relative;
    text-align: center;
    top: 55px;
    color: #14213D;
}

.action_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button_container a{
    color: white;
    text-decoration: none;
}

.button_container{
    color: white;
    background-color: #14213D;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    transition: background-color 0.4s;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container:hover{
    background-color: #454FE1;
}

.pic_container{
    position: relative;
    top: 40px;
}

img {
    transform: scale(1.3);
}
